IndentWidth: 4
AccessModifierOffset: 0
IndentAccessModifiers: true
AllowShortFunctionsOnASingleLine: None
IndentPPDirectives: BeforeHash
ColumnLimit: 120
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
BreakBeforeTernaryOperators: true
AlignAfterOpenBracket: DontAlign
IndentCaseLabels: true